<table>
    <tbody>
        <ng-container *ngFor="let repo of repositories">
            <tr>
                <td colspan="2">
                    <fa-icon [icon]="faAngleDown"
                             [classes]="[ 
                                'fa-icon__expand-icon',
                                repo._expanded ? 'expanded' : ''
                             ]"
                             [rotate]="repo._expanded ? 0 : 270"
                             (click)="repo._expanded = !repo._expanded"></fa-icon>

                    <label>
                        <b>{{ repo.name }}</b>
                    </label>
                </td>
            </tr>
            <ng-container *ngIf="repo._expanded">
                <tr *ngFor="let branch of repo.branches">
                    <td class="branch-name">
                        <fa-icon [icon]="faCodeBranch"
                                 [classes]="[ 'fa-icon__branch' ]"></fa-icon>

                        <label>{{ branch.name }}</label>
                    </td>
                    <td>
                        <label>{{ branch.commit?.sha }}</label>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>