:host ::ng-deep {
  .fa-icon__expand-icon {
    cursor: pointer;

    $size: 1em;
    width: $size;
    height: $size;
    font-size: 1.25em;

    position: relative;
    top: 0.125em;

    &.expanded {
      background-color: #efefef;
    }

    &:hover {
      background: #d0d0d0;
    }
  }

  .fa-icon__branch {
    margin-right: 0.3em;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  background: #fff;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132);
  border-radius: 20px;
  margin-bottom: 2em;

  & > tbody > tr {
    &:not(:last-of-type) {
      border-bottom: thin solid #aaaaaa;
    }

    & > td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      padding: 0.7em 0.4em;

      &.branch-name {
        padding-left: 2.5em;
      }
    }
  }
}
