.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 1.25em;

  & > *:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
