<ng-container *ngIf="repositories && repositories.length > 0; else noRepositories">
    <h1 style="text-align: center;">
        Repositories of user
        <i>{{ repositories[0]?.owner?.login }}</i>:
    </h1>

    <div style="width: 80%; margin: 0 auto">
        <app-repositories-table [repositories]="repositories">
        </app-repositories-table>
    </div>
</ng-container>
<ng-template #noRepositories>
    <div class="message-container">
        <ng-container *ngIf="repositories">
            There are no repositories found for user
            <i>{{ userName }}</i> 
        </ng-container>
        <ng-container *ngIf="isLoading">
            <ng-container *ngTemplateOutlet="loading"></ng-container>
        </ng-container>
        <ng-container *ngIf="isError">
            <ng-container *ngTemplateOutlet="error"></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #loading>
    <fa-icon [icon]="faSpinner"
             [pulse]="true"
             [styles]="{ 'font-size': '3.5em' }"></fa-icon>
</ng-template>

<ng-template #error>
    <fa-icon [icon]="faExclamationTriangle"
             [styles]="{ 'font-size': '3em' }"></fa-icon>

    <b><label>Error occured</label></b>
</ng-template>