<div class="container">
    <form [formGroup]="loginForm"
        class="login-form">

        <label>
            <input type="text"
                placeholder="Username"
                [formControlName]="loginControlName"
                class="login-form__username">
        </label>

        <button class="login-form__submit"
            [disabled]="loginForm.invalid"
            (click)="onSubmitClicked()">Submit</button>

    </form>
</div>