$border-radius: 20px;

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &>.login-form {
        display: flex;
        flex-direction: column;

        [class^="login-form"] {
            padding: 0.3em 0.6em;
            outline: none;
        }

        .login-form__username {
            border-radius: $border-radius;
            border-width: 1px;

            &:focus {
                box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
            }
        }

        &>.login-form__submit {
            margin-top: 1em;
            border-radius: $border-radius;
            background: #52b2bf;
            color: #fff;
            border: none;
            cursor: pointer;

            &:disabled {
                background: #757c88;
                cursor: default;
            }

            &:hover {
                &:not(:disabled) {
                    background: #48aaad;
                }
            }

            &:focus {

                box-shadow: 0 1px 6px 0 #8882eefd;
            }
        }
    }

}